<!DOCTYPE HTML>
<html>
    <head>
        <title>CO2 Emissions Viewer</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <noscript>This page needs JavaScript to work. Please enable it, or use a browser which supports it.</noscript>
    </head>
    <body>
        <form id="searchform">
            Country: <select id="countryselect"> </select> <br>
            Starting year (leave blank to ignore): <input type="number" name="start"> <br>
            Ending year (leave blank to ignore): <input type="number" name="end"> <br>
            Results per capita? <input type="checkbox" name="percapita"> <br>
            <input type="submit" value="Search">
        </form>
        <canvas id="chart" width="400" height="400"></canvas>
    </body>
</html>
            
