<!DOCTYPE HTML>
<html>
    <head>
        <title>CO2 Emissions Viewer</title>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" />
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" />
        <noscript>This page needs JavaScript to work. Please enable it, or use a browser which supports it.</noscript>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <div class="form-container">
            <form id="searchform">
                <label for="countryselect">Country:</label>
                <select id="countryselect"> </select> <br>
                <label class="col-md-5" for="start">Starting year (leave blank to ignore):</label>
                <input class="col-md-5" type="number" id="start" name="start"> <br>
                <label class="col-md-5" for="end">Ending year (leave blank to ignore):</label>
                <input class="col-md-5" type="number" id="end" name="end"> <br>
                <label for="percapita">Results per capita?</label>
                <input type="checkbox" id="percapita" name="percapita"> <br>
                <input type="submit" value="Search">
            </form>
        </div>
        <div class="chart-container">
            <canvas id="chart"></canvas>
        </div>
    </body>
</html>
